* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #DDDDDD;
}

h1 {
    font-family: Georgia;
}

p {
    font-family: Arial;
}

header {
    background-color: #676767;
    color: #F0F4F8;
    padding: 10px;
    height: 100%;
    text-align: center;
    font-size: 20px;
}

nav {
    background-color: #A6A6A6;
    text-align: center;
    width: 100%;
    padding: 5px;
}
nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
}
nav a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}
nav a:visited {
    text-decoration: none;
    color: #F0F4F8;
}

main section {
    padding: 10px;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #676767;
    color: #e8f1fa;
    text-align: left;
    border: 2px solid black; 
}

main section h2 {
    font-size: 28px;
}

main section p {
    margin-left: 2%;
    font-size: 18px;
}

main #projects ul li {
    list-style: none;
    margin-left: 2%;
    font-size: 20px;
}

main #contact p a {
    color: black
}

footer {
    text-align: center;
    background-color: #A6A6A6;
    padding: 10px;
}